<h1 class="mt-3 animated fadeIn fast">Pipes <small>Angular</small></h1>
<hr />

<div class="row animated fadeIn">
    <div class="col">
        <table class="table table-pipes">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                    <th>Pipe Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Uppercase</td>
                    <td>{{ nombre | uppercase }}</td>
                    <td>nombre | uppercase</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Lowercase</td>
                    <td>{{ nombre | lowercase }}</td>
                    <td>nombre | lowercase</td>
                </tr>
                <tr>
                    <td>{{ nombre2 }}</td>
                    <td>Capitalizado -- Personalizado</td>
                    <td>{{ nombre2 | capitalizado }}</td>
                    <td>nombre2 | lowercase</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>slice:3</td>
                    <td>{{ nombre | slice: 3 }}</td>
                    <td>nombre | slice:3</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>slice:0:3</td>
                    <td>{{ nombre | slice: 0:3 }}</td>
                    <td>nombre | slice:0:3</td>
                </tr>
                <tr>
                    <td>{{ numeros }}</td>
                    <td>slice:1:5</td>
                    <td>{{ numeros | slice: 1:5 }}</td>
                    <td>numeros | slice:1:5</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number</td>
                    <td>{{ PI | number: "1.0-0" }}</td>
                    <td>PI | number:'1.0-0'</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number</td>
                    <td>{{ PI | number: ".0-2" }}</td>
                    <td>PI | number:'.0-2'</td>
                </tr>
                <tr>
                    <td>{{ percentage }}</td>
                    <td>percent</td>
                    <td>{{ percentage | percent }}</td>
                    <td>percentage | percent</td>
                </tr>
                <tr>
                    <td>{{ percentage }}</td>
                    <td>percent</td>
                    <td>{{ percentage | percent: "2.2-2" }}</td>
                    <td>percentage | percent:'2.2-2'</td>
                </tr>
                <tr>
                    <td>{{ salary }}</td>
                    <td>currency</td>
                    <td>{{ salary | currency }}</td>
                    <td>salary | currency</td>
                </tr>
                <tr>
                    <td>{{ salary }}</td>
                    <td>currency</td>
                    <td>{{ salary | currency: "EUR":"symbol":".0-0" }}</td>
                    <td>salary | currency:'EUR':'symbol':'.0-0'</td>
                </tr>
                <tr>
                    <td>{{ valorPromesa }}</td>
                    <td>asycn</td>
                    <td>{{ valorPromesa | async }}</td>
                    <td>valorPromesa | async</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date }}</td>
                    <td>fecha | date</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date: "medium" }}</td>
                    <td>fecha | date:'medium'</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date: "short" }}</td>
                    <td>fecha | date:'short'</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date: "MMMM - dd" }}</td>
                    <td>fecha | date:'MMMM - dd'</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date: "MMMM - dd":"":idioma }}</td>
                    <td>
                        fecha | date:'MMMM - dd':'':'{{ idioma }}'
                        <p>
                            <button (click)="idioma = 'es'" class="mr-1 btn btn-primary btn-sm">Español</button>
                            <button (click)="idioma = 'en'" class="mr-1 btn btn-secondary btn-sm">English</button>
                            <button (click)="idioma = 'fr'" class="mr-1 btn btn-success btn-sm">Français</button>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date: "MMMM - dd":"":idioma }}</td>
                    <td>fecha | date:'MMMM - dd':'':'{{ idioma }}'</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td> Contraseña -- Personalizado : {{activar}}
                        <br>
                        <button (click)="activar =!activar" class="btn btn-outline-secondary btn-sm ">
                        Activar/Desactivar
                    </button >
                    </td>
                    <td>{{ nombre | showpassword: activar }}</td>
                </tr>
            </tbody>
        </table>
        <h3>JSON</h3>
        <hr />
        <div class="row">
            <div class="col">
                <p>Pipe: heroe | json</p>
                <pre>
                    {{ heroe | json }}
                </pre
        >
      </div>
    </div>
    <h3 class="mt-4">Dom Seguro</h3>
    <hr />
    <div class="row mb-5">
      <div class="col">
        <iframe
          width="560"
          height="315"
          [src]="videoUrl | domsafe"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>