<h4>Formularios <small> tipo Reactivo</small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger">
          Ingrese 5 Letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid]="apellidoNoValido">
        <small *ngIf="apellidoNoValido" class="text-danger">
        Ingrese 5 Letras
      </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             [class.is-invalid]="emailNoValido">
      <small *ngIf="emailNoValido" class="text-danger">
      Ingrese un correo valido
    </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Ingrese su usuario"
             formControlName="usuario"
             [class.is-invalid]="usuarioNovalido">
      <small *ngIf="usuarioNovalido" class="text-danger">
      Este usuario no esta disponible
    </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Escriba la contraseña"
             formControlName="pass1"
             [class.is-invalid]="pass1Novalido">
      <small *ngIf="pass1Novalido" class="text-danger">
      Ingrese una contraseña
    </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repita la Contraseña</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Repita la contraseña"
             formControlName="pass2"
             [class.is-invalid]="pass2Novalido">
      <small *ngIf="pass2Novalido" class="text-danger">
      Escriba nuevamente la contraseña
    </small>
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col">
      <div class="col">
        <input type="text"
                class="form-control"
                placeholder="Municipio"
                formControlName="municipio"
                [class.is-invalid]="municipioNoValido">
        <small *ngIf="municipioNoValido" class="text-danger">
          Ingrese un municipio 
        </small>
      </div>
      <div class="col">
        <input type="text"
                class="form-control"
                placeholder="Ciudad"
                formControlName="ciudad"
                [class.is-invalid]="ciudadNoValido">
        <small *ngIf="ciudadNoValido" class="text-danger">
          Ingrese una ciudad 
        </small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempos</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td>{{i + 1}}</td> 
            <td>
              <input class="form-control"
                     type="text"
                     [formControlName]="i">
            </td>
            <td>
              <button class="btn btn-danger"
                      type="button"
                      (click)="borrarPasatiempo(i)">
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3 mb-5 btn-block"
              type="button"
              (click)="agregarPasatiempo()">
        + Agregar
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
<hr>

<pre>
  estado del formulario {{forma.valid}}
  <br>
  Status: {{forma.status}}
</pre>

<pre>
  {{forma.value | json}}
</pre>